<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <title>Profile Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section>
           
            <div class="container text-center" >
                        <img style="width:200px;height: 200px;" class="profile_pic  "src="" th:src="@{'/img/'+${user.image}}" alt="Profile picture"/>
                        <h3><span th:text="${contact.name}"></span>(<span th:text="${contact.secondName}"></span>)</h3>
                        <table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col"><span th:text="${contact.cId}"></span></th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">Work</th>
      <td colspan="2"><span th:text="${contact.work}"></span></td>
   
    </tr>
    
     <tr>
      <th scope="row">Email</th>
      <td colspan="2"><span th:text="${contact.email}"></span></td>
   
    </tr>
    
     <tr>
      <th scope="row">Phone</th>
      <td colspan="2"><span th:text="${contact.phone}"></span></td>
   
    </tr>
  </tbody>
</table>
                    </div>
                   
        </section>
    </body>
</html>
