<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Home Page</title>
        
    </head>

    <body>

        <section class="banner d-flex justify-content-center align-items-center"> 
            <div class="text-center">
                <h1>Contact Management Tool</h1>
               
                <a th:href="@{/signup}" class="btn btn-primary">Get Started..</button></a>
                
            </div>
        </section>
    </body>
</html>
